# Eclipse
.classpath
.project
.settings/

# IDE
.idea/
*.iml
*.iws

# Gradle
bin/
.gradle
gradle-app.setting
**/build/
!src/**/build/
.gradletasknamecache
!gradle-wrapper.jar
!gradle-wrapper.properties

# Package files
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
